@model ApartmentAdministrationNew.Models.Apartment

@{
    ViewData["Title"] = "Details";
}
    <h1>Details of the Apartment</h1>
    <body>
        <link rel="stylesheet" href="~/css/site.css" />
        
        <div>            
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Street)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Street)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Zipcode)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Zipcode)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.City)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.City)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.IsInActive)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.IsInActive)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    </body>